.classpath
.settings
.project
.springBeans
target
admin/overlays/*
solr/overlays/*
*.iml
*.iws
*.ipr
.idea/*
solr/solr/
solr-custom/solr-custom/
solr-custom/overlays/*
.DS_Store
*atlassian-ide-plugin.xml
frontend/.externalToolBuilders/
*/test-output
frontend/src/main/webapp/static/js/compiled
.metadata
.vagrant
manifests/.tmp
manifests/modules
manifests/.librarian/puppet/config
node_modules
frontend/src/main/resources/procedurepdftempdir
generated-api-docs/*
nbactions.xml
nb-*.xml
.vscode/
sigma-domain-webapp/src/main/webapp/
.metadata/
**/.sts4-cache/
.tags
__pycache__
